Templatetest-9512BBC4-B206-F111-8407-7CED8DBAF2D6.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "092edf94-f80d-416a-a2bc-b0ca4d167a16"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_Template": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c895285d-86a7-4694-9b60-90069806ca1a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEmailTemplate",
                "type": "string",
                "value": "<!DOCTYPE html>\n<html>\n  <body style=\"font-family:Segoe UI, Arial, sans-serif; color:#2b2b2b;\">\n    <h2>Hello [FirstName] [LastName],</h2>\n    <p>Thank you for choosing <strong>[CompanyName]</strong>!</p>\n\n    <h3>Subscription & Billing</h3>\n    <p>\n      <strong>Plan:</strong> [SubscriptionName] ([PlanType])<br/>\n      <strong>ID:</strong> [SubscriptionId]<br/>\n      <strong>Renewal Date:</strong> [RenewalDate]<br/>\n      <strong>Amount:</strong> [Amount] [Currency]<br/>\n      <strong>Payment:</strong> [PaymentMethod] (****[Last4])<br/>\n      <strong>Invoice:</strong> [InvoiceNumber]\n    </p>\n\n    <h3>Order Details</h3>\n    <p>\n      <strong>Order ID:</strong> [OrderId]<br/>\n      <strong>Order Date:</strong> [OrderDate]<br/>\n      <strong>Ship Date:</strong> [ShipDate]<br/>\n      <strong>Tracking:</strong> [TrackingNumber]\n    </p>\n\n    <h3>Usage Stats</h3>\n    <p>\n      <strong>Usage:</strong> [UsageThisPeriod] [UsageUnit]<br/>\n      <strong>Licenses:</strong> [LicenseCount]<br/>\n      <strong>Add-on:</strong> [FeaturePack]\n    </p>\n\n    <h3>Support & Contact</h3>\n    <p>\n      <strong>Manager:</strong> [AccountManager]<br/>\n      <strong>Dept:</strong> [Department]<br/>\n      <strong>Project:</strong> [ProjectName]<br/>\n      <strong>Email:</strong> [Email]<br/>\n      <strong>Support:</strong> [SupportEmail]<br/>\n      <strong>Portal:</strong> <a href=\"[PortalUrl]\">Click Here</a>\n    </p>\n\n    <h3>Contract & Location</h3>\n    <p>\n      <strong>Contract:</strong> [ContractId]<br/>\n      <strong>Ends:</strong> [ContractEnd]<br/>\n      <strong>Region:</strong> [Region]<br/>\n      <strong>City:</strong> [City], [Country]\n    </p>\n\n    <p style=\"font-size:12px;color:#666;\">\n      Ref: [CustomerId] | Code: [DiscountCode]\n    </p>\n  </body>\n</html>"
              }
            ]
          }
        },
        "Initialize_variable_Placeholders": {
          "runAfter": {
            "Initialize_variable_Template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "982da99f-7c73-40cb-94ba-8f9e65ea5226"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Placeholders",
                "type": "array",
                "value": [
                  {
                    "Key": "FirstName",
                    "Value": "Venkat"
                  },
                  {
                    "Key": "LastName",
                    "Value": "Raju"
                  },
                  {
                    "Key": "CompanyName",
                    "Value": "Contoso Solutions"
                  },
                  {
                    "Key": "SubscriptionName",
                    "Value": "Premium Suite"
                  },
                  {
                    "Key": "SubscriptionId",
                    "Value": "SUB-448201"
                  },
                  {
                    "Key": "RenewalDate",
                    "Value": "10-Feb-2026"
                  },
                  {
                    "Key": "PlanType",
                    "Value": "Enterprise"
                  },
                  {
                    "Key": "Currency",
                    "Value": "USD"
                  },
                  {
                    "Key": "Amount",
                    "Value": "199.00"
                  },
                  {
                    "Key": "PaymentMethod",
                    "Value": "Credit Card"
                  },
                  {
                    "Key": "Last4",
                    "Value": "4242"
                  },
                  {
                    "Key": "InvoiceNumber",
                    "Value": "INV-2026-01"
                  },
                  {
                    "Key": "OrderId",
                    "Value": "ORD-778899"
                  },
                  {
                    "Key": "OrderDate",
                    "Value": "09-Feb-2026"
                  },
                  {
                    "Key": "ShipDate",
                    "Value": "12-Feb-2026"
                  },
                  {
                    "Key": "TrackingNumber",
                    "Value": "TRK123456"
                  },
                  {
                    "Key": "UsageThisPeriod",
                    "Value": "1450"
                  },
                  {
                    "Key": "UsageUnit",
                    "Value": "GB"
                  },
                  {
                    "Key": "LicenseCount",
                    "Value": "250"
                  },
                  {
                    "Key": "FeaturePack",
                    "Value": "Analytics"
                  },
                  {
                    "Key": "AccountManager",
                    "Value": "John Doe"
                  },
                  {
                    "Key": "Department",
                    "Value": "Engineering"
                  },
                  {
                    "Key": "ProjectName",
                    "Value": "Phoenix"
                  },
                  {
                    "Key": "Email",
                    "Value": "venkat@example.com"
                  },
                  {
                    "Key": "SupportEmail",
                    "Value": "help@contoso.com"
                  },
                  {
                    "Key": "PortalUrl",
                    "Value": "https://portal.com"
                  },
                  {
                    "Key": "ContractId",
                    "Value": "CT-555"
                  },
                  {
                    "Key": "ContractEnd",
                    "Value": "31-Dec-2026"
                  },
                  {
                    "Key": "Region",
                    "Value": "APAC"
                  },
                  {
                    "Key": "City",
                    "Value": "Hyderabad"
                  },
                  {
                    "Key": "Country",
                    "Value": "India"
                  },
                  {
                    "Key": "CustomerId",
                    "Value": "CUST-992"
                  },
                  {
                    "Key": "DiscountCode",
                    "Value": "SAVE15"
                  }
                ]
              }
            ]
          }
        },
        "Select_Pairs": {
          "runAfter": {
            "Initialize_variable_Placeholders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02ea7242-e73b-4bbb-98fe-3ae9fe76ca87"
          },
          "type": "Select",
          "inputs": {
            "from": "@variables('Placeholders')",
            "select": {
              "pair": "@concat('[', item()?['Key'], ']==', item()?['Value'])"
            }
          }
        },
        "ReducerString": {
          "runAfter": {
            "Select_Pairs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfd32235-1011-408f-8446-0a65d90950e1"
          },
          "type": "Compose",
          "inputs": "@if(\r\n  greater(length(outputs('Select_Pairs')?['body']), 0),\r\n  replace(\r\n    replace(\r\n      replace(\r\n        string(outputs('Select_Pairs')?['body']),\r\n        '[{\"pair\":\"',\r\n        ''\r\n      ),\r\n      '\"},{\"pair\":\"',\r\n      '||'\r\n    ),\r\n    '\"}]',\r\n    ''\r\n  ),\r\n  ''\r\n)"
        },
        "PairsArray": {
          "runAfter": {
            "ReducerString": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aba7db3e-5c55-4666-8015-b346825dd32d"
          },
          "type": "Compose",
          "inputs": "@if(\r\n  equals(outputs('ReducerString'), ''),\r\n  createArray(),\r\n  split(outputs('ReducerString'), '||')\r\n)"
        },
        "FinalHTML": {
          "runAfter": {
            "PaddedPairs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1cc00666-5c2a-4948-95a9-07ffb7af3e87"
          },
          "type": "Compose",
          "inputs": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(variables('varEmailTemplate'),split(outputs('PaddedPairs')[0],'==')[0],split(outputs('PaddedPairs')[0],'==')[1]),split(outputs('PaddedPairs')[1],'==')[0],split(outputs('PaddedPairs')[1],'==')[1]),split(outputs('PaddedPairs')[2],'==')[0],split(outputs('PaddedPairs')[2],'==')[1]),split(outputs('PaddedPairs')[3],'==')[0],split(outputs('PaddedPairs')[3],'==')[1]),split(outputs('PaddedPairs')[4],'==')[0],split(outputs('PaddedPairs')[4],'==')[1]),split(outputs('PaddedPairs')[5],'==')[0],split(outputs('PaddedPairs')[5],'==')[1]),split(outputs('PaddedPairs')[6],'==')[0],split(outputs('PaddedPairs')[6],'==')[1]),split(outputs('PaddedPairs')[7],'==')[0],split(outputs('PaddedPairs')[7],'==')[1]),split(outputs('PaddedPairs')[8],'==')[0],split(outputs('PaddedPairs')[8],'==')[1]),split(outputs('PaddedPairs')[9],'==')[0],split(outputs('PaddedPairs')[9],'==')[1]),split(outputs('PaddedPairs')[10],'==')[0],split(outputs('PaddedPairs')[10],'==')[1]),split(outputs('PaddedPairs')[11],'==')[0],split(outputs('PaddedPairs')[11],'==')[1]),split(outputs('PaddedPairs')[12],'==')[0],split(outputs('PaddedPairs')[12],'==')[1]),split(outputs('PaddedPairs')[13],'==')[0],split(outputs('PaddedPairs')[13],'==')[1]),split(outputs('PaddedPairs')[14],'==')[0],split(outputs('PaddedPairs')[14],'==')[1]),split(outputs('PaddedPairs')[15],'==')[0],split(outputs('PaddedPairs')[15],'==')[1]),split(outputs('PaddedPairs')[16],'==')[0],split(outputs('PaddedPairs')[16],'==')[1]),split(outputs('PaddedPairs')[17],'==')[0],split(outputs('PaddedPairs')[17],'==')[1]),split(outputs('PaddedPairs')[18],'==')[0],split(outputs('PaddedPairs')[18],'==')[1]),split(outputs('PaddedPairs')[19],'==')[0],split(outputs('PaddedPairs')[19],'==')[1]),split(outputs('PaddedPairs')[20],'==')[0],split(outputs('PaddedPairs')[20],'==')[1]),split(outputs('PaddedPairs')[21],'==')[0],split(outputs('PaddedPairs')[21],'==')[1]),split(outputs('PaddedPairs')[22],'==')[0],split(outputs('PaddedPairs')[22],'==')[1]),split(outputs('PaddedPairs')[23],'==')[0],split(outputs('PaddedPairs')[23],'==')[1]),split(outputs('PaddedPairs')[24],'==')[0],split(outputs('PaddedPairs')[24],'==')[1]),split(outputs('PaddedPairs')[25],'==')[0],split(outputs('PaddedPairs')[25],'==')[1]),split(outputs('PaddedPairs')[26],'==')[0],split(outputs('PaddedPairs')[26],'==')[1]),split(outputs('PaddedPairs')[27],'==')[0],split(outputs('PaddedPairs')[27],'==')[1]),split(outputs('PaddedPairs')[28],'==')[0],split(outputs('PaddedPairs')[28],'==')[1]),split(outputs('PaddedPairs')[29],'==')[0],split(outputs('PaddedPairs')[29],'==')[1]),split(outputs('PaddedPairs')[30],'==')[0],split(outputs('PaddedPairs')[30],'==')[1]),split(outputs('PaddedPairs')[31],'==')[0],split(outputs('PaddedPairs')[31],'==')[1]),split(outputs('PaddedPairs')[32],'==')[0],split(outputs('PaddedPairs')[32],'==')[1]),split(outputs('PaddedPairs')[33],'==')[0],split(outputs('PaddedPairs')[33],'==')[1]),split(outputs('PaddedPairs')[34],'==')[0],split(outputs('PaddedPairs')[34],'==')[1]),split(outputs('PaddedPairs')[35],'==')[0],split(outputs('PaddedPairs')[35],'==')[1]),split(outputs('PaddedPairs')[36],'==')[0],split(outputs('PaddedPairs')[36],'==')[1]),split(outputs('PaddedPairs')[37],'==')[0],split(outputs('PaddedPairs')[37],'==')[1]),split(outputs('PaddedPairs')[38],'==')[0],split(outputs('PaddedPairs')[38],'==')[1]),split(outputs('PaddedPairs')[39],'==')[0],split(outputs('PaddedPairs')[39],'==')[1]),split(outputs('PaddedPairs')[40],'==')[0],split(outputs('PaddedPairs')[40],'==')[1]),split(outputs('PaddedPairs')[41],'==')[0],split(outputs('PaddedPairs')[41],'==')[1]),split(outputs('PaddedPairs')[42],'==')[0],split(outputs('PaddedPairs')[42],'==')[1]),split(outputs('PaddedPairs')[43],'==')[0],split(outputs('PaddedPairs')[43],'==')[1]),split(outputs('PaddedPairs')[44],'==')[0],split(outputs('PaddedPairs')[44],'==')[1]),split(outputs('PaddedPairs')[45],'==')[0],split(outputs('PaddedPairs')[45],'==')[1]),split(outputs('PaddedPairs')[46],'==')[0],split(outputs('PaddedPairs')[46],'==')[1]),split(outputs('PaddedPairs')[47],'==')[0],split(outputs('PaddedPairs')[47],'==')[1]),split(outputs('PaddedPairs')[48],'==')[0],split(outputs('PaddedPairs')[48],'==')[1]),split(outputs('PaddedPairs')[49],'==')[0],split(outputs('PaddedPairs')[49],'==')[1])"
        },
        "PaddedPairs": {
          "runAfter": {
            "PairsArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1bbfec8b-c972-464b-a5e6-befd49e076a7"
          },
          "type": "Compose",
          "inputs": "@\r\ntake(\r\n  split(\r\n    concat(\r\n      join(outputs('PairsArray'), '⟂SEP⟂'),\r\n      if(equals(length(outputs('PairsArray')), 0), '', '⟂SEP⟂'),\r\n      join(\r\n        json('[\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\",\"DUMMY==DUMMY\"]'),\r\n '⟂SEP⟂'\r\n      )\r\n    ),\r\n    '⟂SEP⟂'\r\n  ),\r\n  50\r\n)"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}